@using LearningExperience.Web.Blazor.Models
<div class="top-row pl-4 navbar navbar-light">
    <a class="navbar-brand" href="">Learning Experience</a>
    <button class="navbar-toggler" @onclick="ToggleNavMenu">
        <span class="navbar-toggler-icon"></span>
    </button>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <div id="sidebar-wrapper">
        <div class="list-group list-group-flush">
            @if (Documents != null)
            {
                foreach (var docLevel1 in Documents)
                {
                    <div class="doc" style="display: inline-block">
                        <a class="list-group-item list-group-item-action" @onclick="() => OnDocumentClick(docLevel1)"><i class="arrow @docLevel1.ArrowState"></i>@docLevel1.Value</a>
                    </div>
                    foreach (var docLevel2 in docLevel1.Documents)
                    {
                        <div class="doc" style="display: @docLevel1.DisplayState; padding-left: 7px;">
                            <a class="list-group-item list-group-item-action" @onclick="() => OnDocumentClick(docLevel2)"><i class="arrow @docLevel2.ArrowState"></i>@docLevel2.Value</a>
                        </div>
                        foreach(var docLevel3 in docLevel2.Documents)
                        {
                            <div class="doc" style="display: @docLevel2.DisplayState; padding-left: 17px;">
                                <a class="list-group-item list-group-item-action" @onclick="() => OnDocumentClick(docLevel3)"><i class="arrow @docLevel3.ArrowState"></i>@docLevel3.Value</a>
                            </div>
                            foreach(var docLevel4 in docLevel3.Documents)
                            {
                                <div class="doc" style="display: @docLevel3.DisplayState; padding-left: 24px;">
                                    <a class="list-group-item list-group-item-action" @onclick="() => OnDocumentClick(docLevel4)"><i class="dot filled"></i>@docLevel4.Value</a>
                                </div>
                            }
                        }
                    }
                }
            }
        </div>
    </div>
</div>

@code {

    [Parameter] public List<Document> Documents { get; set; }

    private bool collapseNavMenu = true;

    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu() => collapseNavMenu = !collapseNavMenu;

    private void OnDocumentClick(Document clickedDocument)
    {
        clickedDocument.IsClicked = !clickedDocument.IsClicked;
        CloseNestedTabs(clickedDocument);
    }

    private void CloseNestedTabs(Document document)
    {
        if (document.Documents == null) return;
        foreach (var nestedDoc in document.Documents)
        {
            nestedDoc.IsClicked = false;
            CloseNestedTabs(nestedDoc);
        }
    }
}